*/.private/*
private
# Ignore vscode settings for development
.vscode/**

# Ignore non-webpacked dependencies
#node_modules

# Ignore test output
.vscode-test/**
out/**
src/**
# Ignore vsce output
# *.vsix

# Ignore development files
.editorconfig
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
